.Team {
  margin: 10px 5px;
}

.team-card {
  width: 18rem;
  background-image: url('../../Images/card-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.team-logo {
  width: 50%;
  margin: 10px auto 0px auto;
}